.my-fade-exit-done,
.my-fade {
  opacity: 0;
  transition: opacity 10000ms;
}

.my-fade-enter-active {
  opacity: 1;
}

/* be careful with the class order*/
.my-fade-exit,
.my-fade-enter-done {
  opacity: 1;
}

.my-fade-exit-active {
  opacity: 0;
}
