.list .item-exit-done,
.list .item {
  max-width: 25%;
  opacity: 0;
  transition: opacity 500ms;
}

.list .item-enter-active {
  opacity: 1;
}

/* be careful with the class order*/
.list .item-exit,
.list .item-enter-done {
  opacity: 1;
}

.list .item-exit-active {
  opacity: 0;
}
